@model LawnHolder.Web.Areas.Dashboard.Models.HomeViewModels.HomeViewModel

@{
	ViewData["Title"] = "Dashboard";
}


<div class="row">
	<!-- Page title -->
	<div class="page-header d-print-none">
		<div class="row align-items-center">
			<div class="col">
				<!-- Page pre-title -->
				<div class="page-pretitle">
					Overview
				</div>
				<h2 class="page-title">
					@Model.User.FullName.Trim()'s Dashboard
				</h2>
			</div>		
		</div>
	</div>
</div>
