@model LawnHolder.Web.Areas.Dashboard.Models.HomeViewModels.HomeViewModel

@{
	ViewData["Title"] = "Dashboard";
}


<div class="row">
	<!-- Page title -->
	<div class="page-header d-print-none">
		<div class="row align-items-center">
			<div class="col">
				<!-- Page pre-title -->
				<div class="page-pretitle">
					Overview
				</div>
				<h2 class="page-title">
					@Model.User.FullName.Trim()'s Dashboard
				</h2>
			</div>		
		</div>
	</div>
</div>

<ejs-schedule id="schedule"></ejs-schedule>

<p><iframe src="//batchgeo.com/map/5a8a890ca3af357b840eb72ed3a5b545" frameborder="0" width="100%" height="550" sandbox="allow-top-navigation allow-scripts allow-popups allow-same-origin allow-modals allow-forms" style="border:1px solid #aaa;"></iframe></p><p><small>View <a href="https://batchgeo.com/map/5a8a890ca3af357b840eb72ed3a5b545">Company Locations</a> in a full screen map</small></p>