@inject LawnHolder.Domain.Entities.Settings.ApplicationSettings Settings;
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/Layouts/Front/_Layout.cshtml";
}

<!-- Header-->          
<!-- For demo purpose -->
<div class="container py-5">
    <div class="row text-center">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4 fw-bold" >The LawnHolder Team</h1>
            <p class="lead mb-0">Our story begins with two friends sitting in class discussing their qualms with mowing lawns. Through this conversation they relized the need for a scheduling service to make landscaping service easier for both vendors and clients.</p>
        </div>
    </div>
</div><!-- End -->


<div class="container">
    <div class="row text-center">


        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="~/img/justinpfp.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Justin Costenbader</h1>
                    <h5 class="small text-uppercase text-muted badge bg-lime-lt">Co-Founder</h5>
                    <p class="lead mb-0">Easton born and raised, Justin is one of the core members of the LawnHolder team. </p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="~/img/TMA3UUUBD-U01GUT0K9GE-392f5924adfd-512.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Gavan Quimby</h1>
                    <h5 class="small text-uppercase text-muted badge bg-lime-lt">Co-Founder</h5>
                    <p class="lead mb-0">Easton born and raised, Gavan is one of the core members of the LawnHolder team.</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="https://i.pinimg.com/originals/3e/5c/93/3e5c9315a3a8e0f4cf979dc458f100e9.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Gabriel Jacobsen</h1>
                    <h5 class="small text-uppercase text-muted badge bg-lime-lt">Co-Founder</h5>
                    <p class="lead mb-0">Easton born and raised, Gabe is one of the core members of the LawnHolder team.</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="~/img/dmrpfp.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Dominik Ramut</h1>
                    <h5 class="small text-uppercase text-muted badge bg-lime-lt">Co-Founder</h5>
                    <p class="lead mb-0">Easton born and raised, Dominik is one of the core members of the LawnHolder team.</p>
                    <br/>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">

   <!--
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="/theme/tabler/img/avatars/006f.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Kristian Solbakk</h1>
                    <h5 class="small text-uppercase text-muted badge bg-red-lt">Customer Service</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="/theme/tabler/img/avatars/008m.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Laurence Rivière</h1>
                    <h5 class="small text-uppercase text-muted badge bg-green-lt">Software Engineer</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="/theme/tabler/img/avatars/008f.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Lisa Kortig</h1>
                    <h5 class="small text-uppercase text-muted badge bg-green-lt">UX/UI Designer</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="/theme/tabler/img/avatars/011m.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Jakub Horák</h1>
                    <h5 class="small text-uppercase text-muted badge bg-purple-lt">Financial Officer</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div> --> 