@inject LawnHolder.Domain.Entities.Settings.ApplicationSettings Settings;
@{
    ViewData["Title"] = "Browse";
    Layout = "~/Views/Shared/Layouts/Front/_Layout.cshtml";
}

<!-- Header-->          
<div class="container py-5">
    <div class="row text-center">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4 fw-bold" >Browse Companies:</h1>
        </div>
    </div>
</div><!-- End -->

<div class="col-md-6 col-xl-3">
                <div class="card">
                  <div class="card-body text-center">
                    <div class="mb-3">
                      <span class="avatar avatar-xl avatar-rounded" style="background-image: url(./static/avatars/010m.jpg)"></span>
                    </div>
                    <div class="card-title mb-1">Thatcher Keel</div>
                    <div class="text-muted">VP Sales</div>
                  </div>
                  <a href="#" class="card-btn">View full profile</a>
                </div>
              </div>