@model LawnHolder.Domain.Entities.Settings.ApplicationSettings
@using Syncfusion.EJ2;
@using Syncfusion.EJ2.Schedule;
@{
	ViewData["Title"] = "Scheduler";
}

<div id = "ControlRegion">
<ejs-schedule id="schedule" height="550px" selectedDate="new DateTime(2018, 2, 15)">
    <e-schedule-eventsettings dataSource="@ViewBag.datasource"></e-schedule-eventsettings>
</ejs-schedule>
</div>
