@model LawnHolder.Web.Areas.Dashboard.Models.HomeViewModels.HomeViewModel
@using Syncfusion.EJ2;
@using Syncfusion.EJ2.Schedule;
@{
	ViewData["Title"] = "Schedule";
}

<div id = "ControlRegion">
<ejs-schedule id="schedule" height="550px" selectedDate="new DateTime(2018, 2, 15)">
    <e-schedule-eventsettings dataSource="@ViewBag.datasource"></e-schedule-eventsettings>
</ejs-schedule>
</div>
