@model LawnHolder.Domain.Entities.Settings.ApplicationSettings
@using Syncfusion.EJ2;
@using Syncfusion.EJ2.Schedule;
@{
	ViewData["Title"] = "Schedule";
}

<div id = "ControlRegion">
<ejs-schedule id="schedule" height="550px">
    <e-schedule-eventsettings dataSource="@ViewBag.datasource"></e-schedule-eventsettings>
</ejs-schedule>
</div>
